body{
  animation-name: fadein;
  animation-duration: 500ms;
}
header{
  z-index: 1;
}

video {
  position: absolute;
  width:100%;
  height:100vh;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
}

.fab{
  font-size: 1.2rem;
  color: white;
  margin-top: 25px;
}

.fa-instagram-square{
  margin-right: 15px;
}

.logo{
  z-index: 1;
  position: relative;
  height: 100vh;
  animation-name: fadein;
  animation-duration: 9000ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* LOADING */
.loading{
  z-index: 1;
  position: absolute;
  top: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;

  color: white;
}


.loading > img{
  height: 200px;
  margin-bottom: 10px;
}

.load{
  width: 122px;
  height: 5px;
  background-color: #000;
  position: relative;
  margin-bottom: 10px;
}

.load .load-bar{
 position: absolute;
 height: 100%;
 background-color: #fff;
 animation: progress-animation 2.5s;
}

@keyframes progress-animation{
  0% { width: 0%; }
  
  100% { width: 100%}
  
}

